* {
    box-sizing: border-box;
}

body {
    background-color: #444;
}

.grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    
}

.grid-item {
    place-self: center;
}

h1 {
    font-family: sans-serif, Arial, Helvetica;
    color: aliceblue;
    text-align: center;
}

.grid-item h1 {
    font-family: sans-serif, Arial, Helvetica;
    color: aliceblue;
    text-align: center;
    
}

.image-link {
    width: 20rem;
    height: auto;
    border-radius: 30px;
    border-color: #bbb;
    border-style: solid;
    border-width: 0.2rem;
       transition: border-color 1s, border-width 1s;;
  
}

.image-link:hover {
    border-color: #888;
    border-width: 1rem;
  
}


